@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


 /* Shine Animation */
@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.text-shine {
  background: linear-gradient(
    110deg,
    #10b981 0%,
    #34d399 25%,
    #a7f3d0 45%,
    #ffffff 50%,
    #a7f3d0 55%,
    #34d399 75%,
    #10b981 100%
  );
  background-size: 200% auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
}

.comment-input-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

.comment-input-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.comment-input-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.comment-input-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 9999px;
}

.comment-input-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}